.cards {
  @include cards-grid(3, 1em);
  padding: 2px;
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }

  .card {
    border: 3px solid $purple;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &:nth-child(2) {
      border-color: $blue;
    }
    &:nth-child(3) {
      border-color: $green;
    }
    &__header {
      font-size: 1.25em;
      line-height: 1.25;
      min-height: 2.5em;
      margin-bottom: 10px;
    }
    p {
      margin-top: 0;
    }
    &__footer {
      margin-top: auto;
    }
  }

}

.cards-with-headers {
  h2 {
    padding: 0 $indent-amount;
    font-size: size("large");
  }

  @include mq($until: tablet) {
    .cards {
      padding: 0 1.250em;
    }
    .card {
      margin-left: 0;
      padding-left: 1em;
      padding-right: 1em;

      &__header {
        left: 0;
        min-height: 0;
      }
    }
  }
}

.card-chat-online {
  footer:not(.visible) a:not(.no-js-fallback) {
    display: none;
  }

  footer.visible a.no-js-fallback {
    display: none;
  }
}
