.pending-title {
  padding-top: 30px;
}

.submit-button {
  width: 500px;
}

.event-form {
  margin: 1.5em;
  width: 80%;
}

.pending-no-results {
  margin: 3em;
}

.admin-button {
  margin: 1.5em;
  width: 300px;
}
