@import "~govuk-frontend/govuk/all";
@import "~trix";

.event-description {
  resize: vertical;
  overflow: auto;
}

.notification-button {
  margin: 0 30px 30px 0;
}

.pending-title {
  padding-top: 30px;
}

.pending-no-results {
  margin: 3em;
}

.time {
  display: flex;
  margin-bottom: 30px;
  width: 280px;
  margin-left: -1.5rem;
}
