<div>
  <%= link_to "Return to pending events",
              internal_provider_events_path, method: :get,
              class: "govuk-back-link" %>
  <div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
      Pending event
    </h1>
    <div class="govuk-panel__body">
      <%= button_to "Edit this provider event",
                    edit_internal_provider_event_path(@event.readable_id), method: :get,

                    class: "button admin-button" %>
      <%= button_to "Submit this provider event",
                    "/internal/submit-event", method: :post,
                    class: "button admin-button" %>
    </div>
  </div>

  <%= render "events/show" %>
</div>

