<div class="markdown">
  <h1 class="pending-title">Pending provider events</h1>


  <%= button_to "Submit a provider event for review",
                "/internal/submit-event", method: :get,
                class: "button submit-button" %>

  <% if @no_results %>
    <div class="pending-no-results">
      <%= render(Events::NoResultsComponent.new) do %>
        No pending events for review
      <% end %>
    </div>
  <% else %>
    <div class="events container">
      <section class="types-of-event">
        <div class="events-featured">
          <div class="events-featured__list">
            <%= render partial: "event", collection: @events %>
          </div>
        </div>
      </section>
    </div>

  <% end %>


</div>
