<div class="markdown">
  <h1>Pending provider events</h1>


  <%= button_to "Submit a provider event for review",
                "/internal/submit-event", method: :get,
                class: "button" %>

  <% if @no_results %>
    <%= render(Events::NoResultsComponent.new) do %>
      No pending events for review
    <% end %>
  <% else %>
    <% @events_by_type.each do |type_id, events| %>
      <%= render "events/event_group",
                 type_id: type_id,
                 events: events,
                 page_param_name: @performed_search ? @group_presenter.page_param_name(type_id) : nil,
                 show_see_all_events: true
      %>
    <% end %>
  <% end %>


</div>
