<div>
  <%= link_to "Return to pending events",
              "/internal/pending-events", method: :get,
              class: "govuk-back-link" %>
  <%= button_to "Edit this provider event",
                "/internal/submit-event", method: :post,
                params: {
                  # edit: true,
                  submit_event_form: {
                    edit: true,
                    event_name: @event.name
                  },
                },
                class: "button admin-button" %>
  <%= button_to "Submit this provider event",
                "/internal/submit-event", method: :post,
                class: "button admin-button" %>
  <%= render "events/show" %>
</div>

