<% @fullwidth = @skip_hero = @hide_page_helpful_question = true %>
<% @page_title = "Sorry, the events page is currently unavailable" %>
<section class="error-page">
    <h1><%= @page_title %></h1>
    <p>If you typed the web address, check it is correct.</p>
    <p>If you pasted the web address, check you copied the entire address.</p>
    <p>Call one of our advisers on <a href="tel:08003892501" class="telephone-number" aria-label="Telephone">0800 389 2501</a> if you need to speak to someone about Get Into Teaching</p>
</section>
